{% extends 'base.html.twig' %}

{% block title %}Table index{% endblock %}

{% block body %}
    <h1 class='text-center text-4xl my-10'>Tables</h1>

<a href="{{ path('app_table_new') }}" class='bg-[#DDBF93] py-2 px-3 ml-[70%] hover:bg-[#FFECEC] rounded-xl'>Ajouter une table</a>

    <table class="table w-fit m-auto mt-10 text-lg">
        <thead>
            <tr>
                <th class="border py-2 px-3">Numéro</th>
                <th class="border py-2 px-3">Capacité</th>
            </tr>
        </thead>
        <tbody>
        {% for table in tables %}
            <tr>
                <td class="border py-2 px-3">{{ table.number }}</td>
                <td class="border py-2 px-3">{{ table.capacity }}</td>
                <td class="border py-2 px-3">
                    
                    <a class='mx-1' href="{{ path('app_table_edit', {'id': table.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class='mx-1'>{{ include('table/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="border py-2 px-3" colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
