{% extends 'base.html.twig' %}

{% block title %}Dishies index{% endblock %}

{% block body %}
    <h1 class='text-center text-4xl my-10'>Plats </h1>

<a href="{{ path('app_dishies_new') }}" class='bg-[#DDBF93] py-2 px-3 ml-[70%] hover:bg-[#FFECEC] rounded-xl'>Ajouter un plat</a>

    <table class="table w-fit m-auto mt-10 text-lg">
        <thead>
            <tr>
                <th class="border py-2 px-3">Prix</th>
                <th class="border py-2 px-3">Nom</th>
                <th class="border py-2 px-3">Description</th>
                <th class="border py-2 px-3">Catégorie</th>
                <th class="border py-2 px-3">Image</th>
            </tr>
        </thead>
        <tbody>
        {% for dishy in dishies %}
            <tr>
                <td class="border py-2 px-3">{{ dishy.price }}</td>
                <td class="border py-2 px-3">{{ dishy.title }}</td>
                <td class="border py-2 px-3">{{ dishy.description }}</td>
                 <td class="border py-2 px-3">{{ dishy.categories.name }}</td>
                <td class="border py-2 px-3"><img width=200px src="{{ dishy.picture }}" alt=""></td>
                <td class="border py-2 px-3">
                    <a class='mx-1' href="{{ path('app_dishies_edit', {'id': dishy.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class='mx-1'>{{ include('dishies/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="border py-2 px-3" colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
