{% extends 'base.html.twig' %}

{% block title %}Dishies{% endblock %}

{% block body %}
    <h1>Dishies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dishy.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ dishy.price }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ dishy.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dishy.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img width=200px src="{{ dishy.picture }}" alt=""></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dishies_index') }}">back to list</a>

    <a href="{{ path('app_dishies_edit', {'id': dishy.id}) }}">edit</a>

    {{ include('dishies/_delete_form.html.twig') }}
{% endblock %}
